body .header {
    background-color: #f8f8f8;
}

.buttonPrimary{
    background-color: rgb(21,49,71);
}

.textPrimary {
    color: rgb(21,49,71);
}

.font {
    font-family: Orbitron,sans-serif;
}

.colorFooter {
 background-color: rgb(20, 21, 22);
}

.buttonQuote {
    background-color: rgb(255, 215, 87);
    color: black;
}